.block-search .block-content {
    .form.minisearch {
        #search {
            background-color: rgb(108, 167, 216);
        }
    }
}

header .panel.wrapper {
    background-color: black;
}

header .header.content {
    background-color: rgb(102, 172, 85);
}

.page-header {
    border: 0;
    margin-bottom: 0;
    background-color: black;
}

.page-footer {
    background: rgb(0, 0, 0);
}
