
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
*/

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .product .actions .product-item-actions {
        display: none;
    }

    .catalog-category-view .columns {
        padding-top: 100px;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-with-filter .columns .sidebar-main .block .filter{
        display: none;
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-category-view .columns {
        padding-top: 100px;
    }
}
